Source: nms-ups
Section: base
Priority: optional
Maintainer: Nexenta Systems <maintainer@nexenta.com>
Build-Depends: debhelper (>= 40-0-11)

Package: nms-ups
Architecture: any
Depends: nms (>= 40-0-0), network-nut
Description: [:nxplugin::nms:!ups] UPS monitoring and easy management extension
 UPS monitoring and easy management extension for Nexenta Management Server
 .
